stm32/settings.local.h
build*/
artifacts_private/
test-results/
research/
*.zip
*.bin
*.hex
*.elf
*.map
*.packed
*.o
*.a
*.s
*.res
*.ltrans*
__pycache__/
sdkconfig.old
release_repo/
release_staging/
dist/
